.vp-doc .api-section-heading:not(.doc-section-heading, .doc-group-heading) {
  margin: 1.75rem 0 0.75rem;
  border: 0;
  padding: 0;
  color: var(--vp-c-text-1);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 0;
}

.vp-doc h2.api-section-heading:not(.doc-section-heading, .doc-group-heading) {
  margin-top: 3rem;
  font-size: 1.125rem;
}

.vp-doc h4.api-section-heading {
  font-size: 0.875rem;
}

.vp-doc .api-section-heading:not(.doc-section-heading, .doc-group-heading) .header-anchor {
  top: 0;
}
